USE [master]
GO
/****** Object:  Database [DigitalCegisVR_DB]    Script Date: 31-Oct-17 3:50:13 PM ******/
CREATE DATABASE [DigitalCegisVR_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DigitalCegisVR_DB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DigitalCegisVR_DB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DigitalCegisVR_DB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DigitalCegisVR_DB_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DigitalCegisVR_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DigitalCegisVR_DB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LookUpDivisions]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookUpDivisions](
	[DivisionId] [int] IDENTITY(1,1) NOT NULL,
	[DivShortName] [nvarchar](max) NULL,
	[DivFullName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LookUpDivisions] PRIMARY KEY CLUSTERED 
(
	[DivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LookUpEmployees]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LookUpEmployees](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[SortingSerialNo] [int] NULL,
	[EmpTypeId] [int] NOT NULL,
	[EmpInitial] [varchar](100) NOT NULL,
	[EmpFullName] [varchar](8000) NOT NULL,
	[EmpDivisionId] [int] NOT NULL,
	[EmpDesignation] [varchar](8000) NOT NULL,
	[EmpLevel] [varchar](8000) NOT NULL,
	[EmpEmail] [nvarchar](max) NOT NULL,
	[EmpMobile] [nvarchar](max) NULL,
	[EmpRoomNo] [nvarchar](max) NULL,
	[EmpPresentAddress] [nvarchar](max) NULL,
	[EmpNid] [nvarchar](max) NULL,
	[EmpPaasportNo] [nvarchar](max) NULL,
	[EmpBloodGroup] [nvarchar](max) NULL,
	[EmpHighestDegree] [nvarchar](max) NULL,
	[EmpHighestDegreeMajorSubject] [nvarchar](max) NULL,
	[EmpCareerSummary] [nvarchar](max) NULL,
	[EmpPinNo] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.LookUpEmployees] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LookUpEmployeeTypes]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookUpEmployeeTypes](
	[EmpTypeId] [int] IDENTITY(1,1) NOT NULL,
	[SortingSerialNo] [int] NOT NULL,
	[EmpType] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LookUpEmployeeTypes] PRIMARY KEY CLUSTERED 
(
	[EmpTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LookUpFileUploads]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookUpFileUploads](
	[FileId] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[EmpId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LookUpFileUploads] PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LookUpManagementTypes]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookUpManagementTypes](
	[ManagementTypeId] [int] IDENTITY(1,1) NOT NULL,
	[SortingSerialNo] [int] NOT NULL,
	[ManagementType] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LookUpManagementTypes] PRIMARY KEY CLUSTERED 
(
	[ManagementTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LookupProjectLeaders]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupProjectLeaders](
	[ProjectLeaderId] [int] IDENTITY(1,1) NOT NULL,
	[SortingSerialNo] [int] NOT NULL,
	[EmpId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.LookupProjectLeaders] PRIMARY KEY CLUSTERED 
(
	[ProjectLeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LookupProjects]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupProjects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[SortingSerialNo] [int] NOT NULL,
	[ProjectCode] [nvarchar](max) NULL,
	[ProjectTitle] [nvarchar](max) NULL,
	[ClientName] [nvarchar](max) NULL,
	[ProjectStartingDate] [datetime] NOT NULL,
	[ProjectEndingDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.LookupProjects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LookupRequisitionCategories]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupRequisitionCategories](
	[RequisitionCategoryId] [int] IDENTITY(1,1) NOT NULL,
	[RequisitionCategory] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LookupRequisitionCategories] PRIMARY KEY CLUSTERED 
(
	[RequisitionCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LookUpStates]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookUpStates](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LookUpStates] PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LookupUserGroups]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupUserGroups](
	[UserGroupsId] [int] IDENTITY(1,1) NOT NULL,
	[UserGroupName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LookupUserGroups] PRIMARY KEY CLUSTERED 
(
	[UserGroupsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LookupVehicles]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupVehicles](
	[VehiclesId] [int] IDENTITY(1,1) NOT NULL,
	[SortingSerialNo] [int] NOT NULL,
	[VehicleNo] [nvarchar](max) NULL,
	[LicenseNo] [nvarchar](max) NULL,
	[VehicleModel] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LookupVehicles] PRIMARY KEY CLUSTERED 
(
	[VehiclesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoopUpRedirectPages]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoopUpRedirectPages](
	[RedirectPageId] [int] IDENTITY(1,1) NOT NULL,
	[UserGroupsId] [int] NULL,
	[ControllerName] [nvarchar](max) NULL,
	[ActionName] [nvarchar](max) NULL,
	[ParameterName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.LoopUpRedirectPages] PRIMARY KEY CLUSTERED 
(
	[RedirectPageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] NULL,
	[name] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblDirectors]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDirectors](
	[DirectorId] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TblDirectors] PRIMARY KEY CLUSTERED 
(
	[DirectorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblDrivers]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDrivers](
	[DriverId] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TblDrivers] PRIMARY KEY CLUSTERED 
(
	[DriverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblManagementDetails]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblManagementDetails](
	[ManagementDetailId] [int] IDENTITY(1,1) NOT NULL,
	[SortingSerialNo] [int] NOT NULL,
	[ManagementTypeId] [int] NOT NULL,
	[EmpId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TblManagementDetails] PRIMARY KEY CLUSTERED 
(
	[ManagementDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblRequestApprovalDetails]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblRequestApprovalDetails](
	[RequestApprovalDetailId] [int] IDENTITY(1,1) NOT NULL,
	[RequisitionId] [int] NOT NULL,
	[ApprovalAuthorityId] [int] NOT NULL,
	[ApprovalStatus] [bit] NOT NULL,
	[Comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TblRequestApprovalDetails] PRIMARY KEY CLUSTERED 
(
	[RequestApprovalDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblRequisitionDetails]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblRequisitionDetails](
	[RequisitionId] [int] IDENTITY(1,1) NOT NULL,
	[RequisitionCategoryId] [int] NOT NULL,
	[EmpId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[RequestSubmissionDate] [datetime] NOT NULL,
	[RequiredFromDate] [datetime] NOT NULL,
	[RequiredToDate] [datetime] NOT NULL,
	[Place] [nvarchar](max) NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[ActuallyUsedFromDate] [datetime] NULL,
	[ActuallyUsedToDate] [datetime] NULL,
	[AssignedDriverEmpId] [int] NULL,
	[AssignedVehicleId] [int] NULL,
	[UsedFromKM] [float] NULL,
	[UsedToKM] [float] NULL,
	[LookUpEmployee_EmpId] [int] NULL,
	[StateId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TblRequisitionDetails] PRIMARY KEY CLUSTERED 
(
	[RequisitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblUserGroupDistributions]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblUserGroupDistributions](
	[UserGroupDistributionId] [int] IDENTITY(1,1) NOT NULL,
	[UserGroupsId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TblUserGroupDistributions] PRIMARY KEY CLUSTERED 
(
	[UserGroupDistributionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblUsers]    Script Date: 31-Oct-17 3:50:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblUsers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [int] NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.TblUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[LookUpDivisions] ON 

INSERT [dbo].[LookUpDivisions] ([DivisionId], [DivShortName], [DivFullName]) VALUES (1, N'AGD', N'Agricultural and Fisheries ')
INSERT [dbo].[LookUpDivisions] ([DivisionId], [DivShortName], [DivFullName]) VALUES (2, N'BDD', N'Human Resource and Business Development')
INSERT [dbo].[LookUpDivisions] ([DivisionId], [DivShortName], [DivFullName]) VALUES (3, N'CCD', N'Climate Change and Disaster Management')
SET IDENTITY_INSERT [dbo].[LookUpDivisions] OFF
SET IDENTITY_INSERT [dbo].[LookUpEmployees] ON 

INSERT [dbo].[LookUpEmployees] ([EmpId], [SortingSerialNo], [EmpTypeId], [EmpInitial], [EmpFullName], [EmpDivisionId], [EmpDesignation], [EmpLevel], [EmpEmail], [EmpMobile], [EmpRoomNo], [EmpPresentAddress], [EmpNid], [EmpPaasportNo], [EmpBloodGroup], [EmpHighestDegree], [EmpHighestDegreeMajorSubject], [EmpCareerSummary], [EmpPinNo]) VALUES (1, 1, 1, N'RMO', N'Moshiur Rahman', 4, N'Programmer', N'Consultant', N'moshiur.mgmh@gmail.com', N'01710290257', N'505', N'Green Road, Dhaka', N'0154604664654064', N'SL0154', N'0(+)', N'B. Sc. Engineering', N'CSE', N'2 years of Experience', N'RMO0380')
INSERT [dbo].[LookUpEmployees] ([EmpId], [SortingSerialNo], [EmpTypeId], [EmpInitial], [EmpFullName], [EmpDivisionId], [EmpDesignation], [EmpLevel], [EmpEmail], [EmpMobile], [EmpRoomNo], [EmpPresentAddress], [EmpNid], [EmpPaasportNo], [EmpBloodGroup], [EmpHighestDegree], [EmpHighestDegreeMajorSubject], [EmpCareerSummary], [EmpPinNo]) VALUES (3, 3, 1, N'AKM', N'Abul Kashem Md Hasan', 1, N'Director', N'P5', N'ahasan@cegisbd.com', N'0911364049', N'501', N'Mohammodpur', N'0154604664654064', N'dsf406', N'0+', N'B. Sc. Engineering', N'CSE', N'15 years of Experience', N'AKM018')
SET IDENTITY_INSERT [dbo].[LookUpEmployees] OFF
SET IDENTITY_INSERT [dbo].[LookUpEmployeeTypes] ON 

INSERT [dbo].[LookUpEmployeeTypes] ([EmpTypeId], [SortingSerialNo], [EmpType]) VALUES (1, 1, N'CEMP')
INSERT [dbo].[LookUpEmployeeTypes] ([EmpTypeId], [SortingSerialNo], [EmpType]) VALUES (2, 2, N'INCT')
INSERT [dbo].[LookUpEmployeeTypes] ([EmpTypeId], [SortingSerialNo], [EmpType]) VALUES (3, 3, N'SCON')
SET IDENTITY_INSERT [dbo].[LookUpEmployeeTypes] OFF
SET IDENTITY_INSERT [dbo].[LookUpFileUploads] ON 

INSERT [dbo].[LookUpFileUploads] ([FileId], [FileName], [EmpId]) VALUES (1, N'', 1)
INSERT [dbo].[LookUpFileUploads] ([FileId], [FileName], [EmpId]) VALUES (2, N'', 2)
INSERT [dbo].[LookUpFileUploads] ([FileId], [FileName], [EmpId]) VALUES (3, N'', 3)
SET IDENTITY_INSERT [dbo].[LookUpFileUploads] OFF
SET IDENTITY_INSERT [dbo].[LookUpManagementTypes] ON 

INSERT [dbo].[LookUpManagementTypes] ([ManagementTypeId], [SortingSerialNo], [ManagementType]) VALUES (1, 1, N'ED')
INSERT [dbo].[LookUpManagementTypes] ([ManagementTypeId], [SortingSerialNo], [ManagementType]) VALUES (2, 2, N'DED')
SET IDENTITY_INSERT [dbo].[LookUpManagementTypes] OFF
SET IDENTITY_INSERT [dbo].[LookupProjects] ON 

INSERT [dbo].[LookupProjects] ([ProjectId], [SortingSerialNo], [ProjectCode], [ProjectTitle], [ClientName], [ProjectStartingDate], [ProjectEndingDate]) VALUES (1, 1, N'UDB003', N'Digital CEGIS', N'CEGIS', CAST(0x0000A7FF00000000 AS DateTime), CAST(0x0000A85A00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[LookupProjects] OFF
SET IDENTITY_INSERT [dbo].[LookupRequisitionCategories] ON 

INSERT [dbo].[LookupRequisitionCategories] ([RequisitionCategoryId], [RequisitionCategory]) VALUES (1, N'During Office Hours (8:30 AM-5:00 PM)')
INSERT [dbo].[LookupRequisitionCategories] ([RequisitionCategoryId], [RequisitionCategory]) VALUES (2, N'Beyond Office Time')
INSERT [dbo].[LookupRequisitionCategories] ([RequisitionCategoryId], [RequisitionCategory]) VALUES (3, N'Personal Requisition')
SET IDENTITY_INSERT [dbo].[LookupRequisitionCategories] OFF
SET IDENTITY_INSERT [dbo].[LookUpStates] ON 

INSERT [dbo].[LookUpStates] ([StateId], [StateName]) VALUES (1, N'Pending for PL Approval')
INSERT [dbo].[LookUpStates] ([StateId], [StateName]) VALUES (2, N'Pending for Director Approval ')
INSERT [dbo].[LookUpStates] ([StateId], [StateName]) VALUES (3, N'Pending for DED Approval')
SET IDENTITY_INSERT [dbo].[LookUpStates] OFF
SET IDENTITY_INSERT [dbo].[LookupUserGroups] ON 

INSERT [dbo].[LookupUserGroups] ([UserGroupsId], [UserGroupName]) VALUES (1, N'Employee')
INSERT [dbo].[LookupUserGroups] ([UserGroupsId], [UserGroupName]) VALUES (2, N'Project Leader')
INSERT [dbo].[LookupUserGroups] ([UserGroupsId], [UserGroupName]) VALUES (3, N'Director')
SET IDENTITY_INSERT [dbo].[LookupUserGroups] OFF
SET IDENTITY_INSERT [dbo].[LookupVehicles] ON 

INSERT [dbo].[LookupVehicles] ([VehiclesId], [SortingSerialNo], [VehicleNo], [LicenseNo], [VehicleModel]) VALUES (1, 1, N'Premio', N'P003', N'X15')
INSERT [dbo].[LookupVehicles] ([VehiclesId], [SortingSerialNo], [VehicleNo], [LicenseNo], [VehicleModel]) VALUES (2, 2, N'Allion', N'A004', N'X11')
INSERT [dbo].[LookupVehicles] ([VehiclesId], [SortingSerialNo], [VehicleNo], [LicenseNo], [VehicleModel]) VALUES (3, 3, N'Corolla', N'X15', N'X10')
SET IDENTITY_INSERT [dbo].[LookupVehicles] OFF
SET IDENTITY_INSERT [dbo].[LoopUpRedirectPages] ON 

INSERT [dbo].[LoopUpRedirectPages] ([RedirectPageId], [UserGroupsId], [ControllerName], [ActionName], [ParameterName]) VALUES (1, 1, N'TblRequisitionDetails', N'Create', NULL)
INSERT [dbo].[LoopUpRedirectPages] ([RedirectPageId], [UserGroupsId], [ControllerName], [ActionName], [ParameterName]) VALUES (2, 7, N'TblUsers', N'Dashboard', NULL)
INSERT [dbo].[LoopUpRedirectPages] ([RedirectPageId], [UserGroupsId], [ControllerName], [ActionName], [ParameterName]) VALUES (3, 3, N'TblUsers', N'Dashboard', NULL)
SET IDENTITY_INSERT [dbo].[LoopUpRedirectPages] OFF
INSERT [dbo].[Student] ([Id], [name]) VALUES (1, N'Moshiur   ')
INSERT [dbo].[Student] ([Id], [name]) VALUES (2, N'Rasel     ')
SET IDENTITY_INSERT [dbo].[TblRequestApprovalDetails] ON 

INSERT [dbo].[TblRequestApprovalDetails] ([RequestApprovalDetailId], [RequisitionId], [ApprovalAuthorityId], [ApprovalStatus], [Comments]) VALUES (11, 7, 4, 1, NULL)
INSERT [dbo].[TblRequestApprovalDetails] ([RequestApprovalDetailId], [RequisitionId], [ApprovalAuthorityId], [ApprovalStatus], [Comments]) VALUES (12, 7, 3, 1, NULL)
INSERT [dbo].[TblRequestApprovalDetails] ([RequestApprovalDetailId], [RequisitionId], [ApprovalAuthorityId], [ApprovalStatus], [Comments]) VALUES (13, 7, 6, 1, NULL)
SET IDENTITY_INSERT [dbo].[TblRequestApprovalDetails] OFF
SET IDENTITY_INSERT [dbo].[TblRequisitionDetails] ON 

INSERT [dbo].[TblRequisitionDetails] ([RequisitionId], [RequisitionCategoryId], [EmpId], [ProjectId], [RequestSubmissionDate], [RequiredFromDate], [RequiredToDate], [Place], [Reason], [ActuallyUsedFromDate], [ActuallyUsedToDate], [AssignedDriverEmpId], [AssignedVehicleId], [UsedFromKM], [UsedToKM], [LookUpEmployee_EmpId], [StateId]) VALUES (7, 1, 2, 1, CAST(0x0000A81D010300B0 AS DateTime), CAST(0x0000A81D0107AC00 AS DateTime), CAST(0x0000A81D011826C0 AS DateTime), N'Green Road', N'Meeting', NULL, NULL, 5, 1, NULL, NULL, NULL, 6)
SET IDENTITY_INSERT [dbo].[TblRequisitionDetails] OFF
SET IDENTITY_INSERT [dbo].[TblUserGroupDistributions] ON 

INSERT [dbo].[TblUserGroupDistributions] ([UserGroupDistributionId], [UserGroupsId], [UserId]) VALUES (1, 7, 16)
INSERT [dbo].[TblUserGroupDistributions] ([UserGroupDistributionId], [UserGroupsId], [UserId]) VALUES (2, 1, 17)
INSERT [dbo].[TblUserGroupDistributions] ([UserGroupDistributionId], [UserGroupsId], [UserId]) VALUES (3, 3, 18)
SET IDENTITY_INSERT [dbo].[TblUserGroupDistributions] OFF
SET IDENTITY_INSERT [dbo].[TblUsers] ON 

INSERT [dbo].[TblUsers] ([UserId], [EmpId], [Password]) VALUES (16, 1, N'b79783d6982ac4ed082eb706b8cafb64')
INSERT [dbo].[TblUsers] ([UserId], [EmpId], [Password]) VALUES (17, 2, N'03aa82174d22b9a28e38f92e351cced0')
INSERT [dbo].[TblUsers] ([UserId], [EmpId], [Password]) VALUES (18, 3, N'785bba0db5e129dbd155b39b9c22c689')
SET IDENTITY_INSERT [dbo].[TblUsers] OFF
/****** Object:  Index [IX_EmpDivisionId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmpDivisionId] ON [dbo].[LookUpEmployees]
(
	[EmpDivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmpTypeId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmpTypeId] ON [dbo].[LookUpEmployees]
(
	[EmpTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PinNo]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [PinNo] ON [dbo].[LookUpEmployees]
(
	[EmpPinNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmpId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmpId] ON [dbo].[LookupProjectLeaders]
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectId] ON [dbo].[LookupProjectLeaders]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmpId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmpId] ON [dbo].[TblDirectors]
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmpId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmpId] ON [dbo].[TblDrivers]
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmpId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmpId] ON [dbo].[TblManagementDetails]
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ManagementTypeId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ManagementTypeId] ON [dbo].[TblManagementDetails]
(
	[ManagementTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApprovalAuthorityId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ApprovalAuthorityId] ON [dbo].[TblRequestApprovalDetails]
(
	[ApprovalAuthorityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequisitionId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_RequisitionId] ON [dbo].[TblRequestApprovalDetails]
(
	[RequisitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignedDriverEmpId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssignedDriverEmpId] ON [dbo].[TblRequisitionDetails]
(
	[AssignedDriverEmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignedVehicleId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssignedVehicleId] ON [dbo].[TblRequisitionDetails]
(
	[AssignedVehicleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmpId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmpId] ON [dbo].[TblRequisitionDetails]
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LookUpEmployee_EmpId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_LookUpEmployee_EmpId] ON [dbo].[TblRequisitionDetails]
(
	[LookUpEmployee_EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProjectId] ON [dbo].[TblRequisitionDetails]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequisitionCategoryId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_RequisitionCategoryId] ON [dbo].[TblRequisitionDetails]
(
	[RequisitionCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StateId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_StateId] ON [dbo].[TblRequisitionDetails]
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserGroupsId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserGroupsId] ON [dbo].[TblUserGroupDistributions]
(
	[UserGroupsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[TblUserGroupDistributions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmpId]    Script Date: 31-Oct-17 3:50:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmpId] ON [dbo].[TblUsers]
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblRequisitionDetails] ADD  DEFAULT ((0)) FOR [StateId]
GO
ALTER TABLE [dbo].[LookUpEmployees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LookUpEmployees_dbo.LookUpDivisions_EmpDivisionId] FOREIGN KEY([EmpDivisionId])
REFERENCES [dbo].[LookUpDivisions] ([DivisionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LookUpEmployees] CHECK CONSTRAINT [FK_dbo.LookUpEmployees_dbo.LookUpDivisions_EmpDivisionId]
GO
ALTER TABLE [dbo].[LookUpEmployees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LookUpEmployees_dbo.LookUpEmployeeTypes_EmpTypeId] FOREIGN KEY([EmpTypeId])
REFERENCES [dbo].[LookUpEmployeeTypes] ([EmpTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LookUpEmployees] CHECK CONSTRAINT [FK_dbo.LookUpEmployees_dbo.LookUpEmployeeTypes_EmpTypeId]
GO
ALTER TABLE [dbo].[LookupProjectLeaders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LookupProjectLeaders_dbo.LookUpEmployees_EmpId] FOREIGN KEY([EmpId])
REFERENCES [dbo].[LookUpEmployees] ([EmpId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LookupProjectLeaders] CHECK CONSTRAINT [FK_dbo.LookupProjectLeaders_dbo.LookUpEmployees_EmpId]
GO
ALTER TABLE [dbo].[LookupProjectLeaders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.LookupProjectLeaders_dbo.LookupProjects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[LookupProjects] ([ProjectId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LookupProjectLeaders] CHECK CONSTRAINT [FK_dbo.LookupProjectLeaders_dbo.LookupProjects_ProjectId]
GO
ALTER TABLE [dbo].[TblDirectors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblDirectors_dbo.LookUpEmployees_EmpId] FOREIGN KEY([EmpId])
REFERENCES [dbo].[LookUpEmployees] ([EmpId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblDirectors] CHECK CONSTRAINT [FK_dbo.TblDirectors_dbo.LookUpEmployees_EmpId]
GO
ALTER TABLE [dbo].[TblDrivers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblDrivers_dbo.LookUpEmployees_EmpId] FOREIGN KEY([EmpId])
REFERENCES [dbo].[LookUpEmployees] ([EmpId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblDrivers] CHECK CONSTRAINT [FK_dbo.TblDrivers_dbo.LookUpEmployees_EmpId]
GO
ALTER TABLE [dbo].[TblManagementDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblManagementDetails_dbo.LookUpEmployees_EmpId] FOREIGN KEY([EmpId])
REFERENCES [dbo].[LookUpEmployees] ([EmpId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblManagementDetails] CHECK CONSTRAINT [FK_dbo.TblManagementDetails_dbo.LookUpEmployees_EmpId]
GO
ALTER TABLE [dbo].[TblManagementDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblManagementDetails_dbo.LookUpManagementTypes_ManagementTypeId] FOREIGN KEY([ManagementTypeId])
REFERENCES [dbo].[LookUpManagementTypes] ([ManagementTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblManagementDetails] CHECK CONSTRAINT [FK_dbo.TblManagementDetails_dbo.LookUpManagementTypes_ManagementTypeId]
GO
ALTER TABLE [dbo].[TblRequestApprovalDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblRequestApprovalDetails_dbo.LookUpEmployees_ApprovalAuthorityId] FOREIGN KEY([ApprovalAuthorityId])
REFERENCES [dbo].[LookUpEmployees] ([EmpId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblRequestApprovalDetails] CHECK CONSTRAINT [FK_dbo.TblRequestApprovalDetails_dbo.LookUpEmployees_ApprovalAuthorityId]
GO
ALTER TABLE [dbo].[TblRequestApprovalDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblRequestApprovalDetails_dbo.TblRequisitionDetails_RequisitionId] FOREIGN KEY([RequisitionId])
REFERENCES [dbo].[TblRequisitionDetails] ([RequisitionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblRequestApprovalDetails] CHECK CONSTRAINT [FK_dbo.TblRequestApprovalDetails_dbo.TblRequisitionDetails_RequisitionId]
GO
ALTER TABLE [dbo].[TblRequisitionDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblRequisitionDetails_dbo.LookUpEmployees_AssignedDriverEmpId] FOREIGN KEY([AssignedDriverEmpId])
REFERENCES [dbo].[LookUpEmployees] ([EmpId])
GO
ALTER TABLE [dbo].[TblRequisitionDetails] CHECK CONSTRAINT [FK_dbo.TblRequisitionDetails_dbo.LookUpEmployees_AssignedDriverEmpId]
GO
ALTER TABLE [dbo].[TblRequisitionDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblRequisitionDetails_dbo.LookUpEmployees_LookUpEmployee_EmpId] FOREIGN KEY([LookUpEmployee_EmpId])
REFERENCES [dbo].[LookUpEmployees] ([EmpId])
GO
ALTER TABLE [dbo].[TblRequisitionDetails] CHECK CONSTRAINT [FK_dbo.TblRequisitionDetails_dbo.LookUpEmployees_LookUpEmployee_EmpId]
GO
ALTER TABLE [dbo].[TblRequisitionDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblRequisitionDetails_dbo.LookupProjects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[LookupProjects] ([ProjectId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblRequisitionDetails] CHECK CONSTRAINT [FK_dbo.TblRequisitionDetails_dbo.LookupProjects_ProjectId]
GO
ALTER TABLE [dbo].[TblRequisitionDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblRequisitionDetails_dbo.LookupRequisitionCategories_RequisitionCategoryId] FOREIGN KEY([RequisitionCategoryId])
REFERENCES [dbo].[LookupRequisitionCategories] ([RequisitionCategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblRequisitionDetails] CHECK CONSTRAINT [FK_dbo.TblRequisitionDetails_dbo.LookupRequisitionCategories_RequisitionCategoryId]
GO
ALTER TABLE [dbo].[TblRequisitionDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblRequisitionDetails_dbo.LookUpStates_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[LookUpStates] ([StateId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblRequisitionDetails] CHECK CONSTRAINT [FK_dbo.TblRequisitionDetails_dbo.LookUpStates_StateId]
GO
ALTER TABLE [dbo].[TblRequisitionDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblRequisitionDetails_dbo.LookupVehicles_AssignedVehicleId] FOREIGN KEY([AssignedVehicleId])
REFERENCES [dbo].[LookupVehicles] ([VehiclesId])
GO
ALTER TABLE [dbo].[TblRequisitionDetails] CHECK CONSTRAINT [FK_dbo.TblRequisitionDetails_dbo.LookupVehicles_AssignedVehicleId]
GO
ALTER TABLE [dbo].[TblUserGroupDistributions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblUserGroupDistributions_dbo.LookupUserGroups_UserGroupsId] FOREIGN KEY([UserGroupsId])
REFERENCES [dbo].[LookupUserGroups] ([UserGroupsId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblUserGroupDistributions] CHECK CONSTRAINT [FK_dbo.TblUserGroupDistributions_dbo.LookupUserGroups_UserGroupsId]
GO
ALTER TABLE [dbo].[TblUserGroupDistributions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblUserGroupDistributions_dbo.TblUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TblUsers] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblUserGroupDistributions] CHECK CONSTRAINT [FK_dbo.TblUserGroupDistributions_dbo.TblUsers_UserId]
GO
ALTER TABLE [dbo].[TblUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TblUsers_dbo.LookUpEmployees_EmpId] FOREIGN KEY([EmpId])
REFERENCES [dbo].[LookUpEmployees] ([EmpId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TblUsers] CHECK CONSTRAINT [FK_dbo.TblUsers_dbo.LookUpEmployees_EmpId]
GO
USE [master]
GO
