USE [DigitalCegisVR_DB]
GO
/****** Object:  Table [dbo].[LookupProjects]    Script Date: 19-Nov-17 10:09:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupProjects](
	[SortingSerialNo] [int] NULL,
	[ProjectCode] [nvarchar](max) NULL,
	[ProjectName] [nvarchar](max) NULL,
	[ProjectPl] [nvarchar](max) NULL,
	[ProjectType] [nvarchar](max) NULL,
	[ProjectCluster] [nvarchar](max) NULL,
	[ProjectClient] [nvarchar](max) NULL,
	[Exclude] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[LookupProjects] ([SortingSerialNo], [ProjectCode], [ProjectName], [ProjectPl], [ProjectType], [ProjectCluster], [ProjectClient], [Exclude]) VALUES (NULL, N'ACA001', N'Basa Map of Chapai-Nawabganj Pourashava', N'NII', N'EXT', N'RSD', N'PVT', N'Yes')
INSERT [dbo].[LookupProjects] ([SortingSerialNo], [ProjectCode], [ProjectName], [ProjectPl], [ProjectType], [ProjectCluster], [ProjectClient], [Exclude]) VALUES (NULL, N'ACA002', N'MPLAN', N'KKH', N'EXT', N'WRD', N'PVT', N'Yes')
INSERT [dbo].[LookupProjects] ([SortingSerialNo], [ProjectCode], [ProjectName], [ProjectPl], [ProjectType], [ProjectCluster], [ProjectClient], [Exclude]) VALUES (NULL, N'ACE001', N'Consultancy Services under Padma Bridge', N'MHS', N'EXT', N'MOR', N'PVT', N'Yes')
GO
