@{
    ViewBag.Title = "Dashboard";
}

<div class="=row">
    <div class="col-md-12">
        <h2>User Profile</h2>

        <label>@Session["UserName"].ToString()</label>
        <label>@Session["FullName"].ToString()</label>
    </div>
</div>

