body {
    padding-top: 50px;
    padding-bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*font-family: fantasy;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */




input, select, textarea {
    max-width: 100% !important;
}

.navbar-inverse {
    background-color: white !important;
    border-color: white !important;
}

.navbar-header .navbar-toggle {
    border-color: #333 !important;
}

.navbar-toggle {
    border: 0 none;
    margin: 4px 0;
    padding: 10px 14px;
    border-color: #333;
    background-color: #49B054;
}

.navbar-inverse .navbar-nav > li > a {
    color: #37A84A !important;
    background-color: white !important;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: black !important;
        background-color: #37A84A !important;
    }


.dropdown-menu > li > a {
    color: #37A84A !important;
    background-color: white !important;
}

    .dropdown-menu > li > a:hover {
        color: black !important;
        background-color: #37A84A !important;
    }

.footer_part {
    margin-top: 10px;
    text-align: center;
    background: #ffe4e1;
    padding: 10px;
    width: 100%;
    float: left;
}

.footer-content {
    border-top: 1px solid #ddd;
    background-color: #f0f7f8;
    padding: 15px;
}

.logo {
    text-align: center;
    display: inline-block;
    width: 145px;
    height: 50px;
    margin: 0;
    padding: 0;
    outline: 0 none;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.cegis {
    background-image: url('../Views/../Images/CEGIS_logo.png');
}


.navbar-inverse {
    border-color: rgba(0, 23, 28, 0.15);
    padding: 1px 0;
    background-color: #fafdff;
    -webkit-box-shadow: 0 2px 3px rgba(0, 23, 28, 0.13);
    -moz-box-shadow: 0 2px 3px rgba(0, 23, 28, 0.13);
    box-shadow: 0 2px 3px rgba(0, 23, 28, 0.13);
}
