html {
    /*background-color: #F0F7F8;*/
}
body {
    padding-top: 50px;
    padding-bottom: 0;
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*font-family: Helvetica;*/
    font-family: Verdana, Helvetica, Arial;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */




input, select, textarea {
    max-width: 100% !important;
}
.navbar-inverse {
    background-color: white !important;
    border-color: white !important;
}

.navbar-header .navbar-toggle {
    border-color: #333 !important;
}

.navbar-toggle {
    border: 0 none;
    margin: 4px 0;
    padding: 10px 14px;
    border-color: #333;
    background-color: #49B054;
}

.navbar-inverse .navbar-nav > li > a {
    color: #37A84A !important;
    background-color: white !important;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: black !important;
        background-color: #37A84A !important;
    }


.dropdown-menu > li > a {
    color: #37A84A !important;
    background-color: white !important;
}

    .dropdown-menu > li > a:hover {
        color: black !important;
        background-color: #37A84A !important;
    }

.footer_part {
    margin-top: 10px;
    text-align: center;
    background: #ffe4e1;
    padding: 10px;
    width: 100%;
    float: left;
}

.footer-content {
    border-top: 1px solid #ddd;
    background-color: #f0f7f8;
    padding: 15px;
    /*border-color: rgba(0, 23, 28, 0.15);*/
    padding: 10px 0;
    /*background-color: #fafdff;*/
    -webkit-box-shadow: 3px 0 0 1px rgba(0, 23, 28, 0.13);
    -moz-box-shadow: 3px 0 0 1px rgba(0, 23, 28, 0.13);
    box-shadow: 3px 0 0 1px rgba(0, 23, 28, 0.13);
}

.logo {
    text-align: center;
    display: inline-block;
    width: 145px;
    height: 50px;
    margin: 0;
    padding: 0;
    outline: 0 none;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.cegis {
    background-image: url('../Views/../Images/CEGIS_logo.png');
}

.navbar-inverse {
    border-color: rgba(0, 23, 28, 0.15);
    padding: 1px 0;
    background-color: #F0F7F8; /*//#fafdff;*/
    -webkit-box-shadow: 0 2px 3px rgba(0, 23, 28, 0.13);
    -moz-box-shadow: 0 2px 3px rgba(0, 23, 28, 0.13);
    box-shadow: 0 2px 3px rgba(0, 23, 28, 0.13);
}

.navbar-header a {
    float: none;
    display: block;
    margin-top: 5px;
    color: #07d;
    font: normal 28px/1.5 Georgia, "Times New Roman", Times, serif;
}

a {
    color: #337ab7;
    text-decoration: none;
}

fieldset {
    border: 1px solid #37A84A;
    width: auto;
    height: auto;
    margin: 3px 0 0 0;
    padding: 13px 20px 7px 20px;
    color: #072328;
    font: normal 9.25pt/1.5 Verdana, Helvetica, Arial, sans-serif;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 8px #ddd inset;
    -moz-box-shadow: 0 0 8px #ddd inset;
    -o-box-shadow: 0 0 8px #ddd inset;
    box-shadow: 0 0 8px #ddd inset;
}
    fieldset legend {
        border: 1px none #37A84A;
        margin: 0 0 0 10px;
        padding: 5px 10px 6px 10px;
        color: #fafafa;
        font: bold 9.5pt/17px "Droid Serif",Georgia,"Courier New",Courier,monospace,serif;
        background: #37A84A;
        background-size: 100%;
        background: -webkit-gradient(linear, left top, left bottom, from(#37A84A), to(#37A84A));
        background: -webkit-linear-gradient(center top, #39AB4C, #39AB4C);
        background: -moz-linear-gradient(center top, #39AB4C, #39AB4C);
        background: -ms-linear-gradient(center top, #43b5d7, #13a3d5);
        background: -o-linear-gradient(center top, #43b5d7, #13a3d5);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.07) inset;
        -moz-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.07) inset;
        -o-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.07) inset;
        box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.07) inset;
        -webkit-text-shadow: 0 1px 0 rgba(0, 13, 23, 0.43);
        -moz-text-shadow: 0 1px 0 rgba(0, 13, 23, 0.43);
        -o-text-shadow: 0 1px 0 rgba(0, 13, 23, 0.43);
        text-shadow: 0 1px 0 rgba(0, 13, 23, 0.43);
    }

legend {
    width: auto;
}

.control-label {
    padding-top: 0 !important;
}

#table_scroll_div {
    /*background-color: #CCE3EA;*/
    width: auto;
    /* height: 100px; */
    /* border: 1px dotted black; */
    /* overflow: scroll; */
    /* padding: 20px; */
    overflow: auto;
}

.navbar-fixed-top .navbar-collapse {
    padding-left: 100px;
}
